@import './abstract/base';
//@import 'abstract/buttonPrimary';

body{
    
    margin: auto;
    padding: auto;
    flex-grow: 1;
    position: relative;
    justify-content: center;

    height: 812px;
    width: 375px;
    
    
}

.top{
    position: absolute;
    width: 375px;
    height: 469px;
    max-width: 10px;
    left: 0px;
    top: 0px;

    background: #FFA451;
    .logo1{
        position: absolute;
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 281.21px;
        left: 31px; 
        top: 134px;
    }
}
.homeBody{
    
    display: flex;
    width: 100%;
   
    height: 469px;
    
    left: 0px;
    top: 0px;
    .iconesTopo{
       
        .abaLateral{
            display:flex ;
            float: left;
            position:relative;
            width: 22px;
            height: 11px;
            left: 24px;
            top: 88px;
        }
        .abaBasket{
            
            float: right;
            position: relative;
            width: 41px;
            height:42px;
            left: 310px;
            top: 10px;
            .img{
                object-fit: cover;
                object-position: bottom;
            }
        }
    }
    .homeText{

        position: absolute;
        
        width: 100%;
        height: 58px;
        left: 24px;
        top: 140px;
        margin-bottom: 20%;
        
        h1 {
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
       
            align-items:baseline;
            letter-spacing: -0.01em;
            color: #27214D;

        }
        

    }
    .search{
        position: relative;
        display: flex;
        flex-direction: column;
        object-fit: cover;
        object-position: bottom;
        width:100%;
        height: 56px;
        left: 21px;
        top: 205px;
    }
    

      
    .comboText{
        position: absolute;
        width:100%;
        height: 32px;
        left: 25px;
        top: 301px;

        
    }
    .combo1{
      
        position: absolute;
        width: 100%;
        height:183px;
        left: 0;
        top: 357px;
        display: flex;
        flex-direction: row;
        
            .imgCombo1{
            
            padding-right: 23px;
            margin-right: 23px;
            width: 40%;
            height: 183px;
            }
            .imgCombo2{
            width: 40%;
            height: 183px;
            }
            .img{
                object-fit: cover;
                object-position: bottom;
            }
      }
    .carrossel{
        
        width: 100%;
        height:150px;
        
        bottom: 016px;
        

        .carrosselTop{
            
            display: flex;
            flex-direction: row;
            
            width: 100%;
            height: 34px;
            left: 24px;
            top: 588px;
            object-fit: cover;
            object-position: bottom;
            
        }
        .carrosselImg{
            position: absolute;
            display: flex;
            right: 0;
            flex-direction: row;
            
            bottom: 0;
            height: 150px;
            
            .imgCarrossel{
               
                
                width: 100%;
                
                img{
                    object-fit: cover;
                    object-position: bottom;
                    width: 80px;
                    height: 150px;
                }
            }
        }
    }  
      
      
       
    
}
.orderComplete{
    .divImage{
        img{
            position: absolute;
            width: 247px;
            height: 328px;
            left: 64px;
            top: 160px;
        }
    }
    .trackB1{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;

        position: absolute;
        width: 133px;
        height: 56px;
        left: 121px;
        top: 544px;

        background: #FFA451;
        border: 1px solid #FFA451;
        border-radius: 10px;
    }
    .trackB2{
        box-sizing: border-box;

        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;
        
        position: absolute;
        width: 181px;
        height: 56px;
        left: 97px;
        top: 648px;
        background-color: #FFFFFF;
        border: 1px solid #FFA451;
        border-radius: 10px;
    }
}      

.topIndex{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 375px;
    height:100%;
    max-height: 469px;
    left: 0px;
    top:0px;
    
    

    background: #FFA451;
    .logo1{
        display: flex;
        width: 100%;
        max-width: 301px;
        height: 100%;
        max-height: 260px;
        left: 35px;
        top: 155px;    
    }
}
.topBasket{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 469px;
    max-width: 375px;
    left: 0px;
    top: 0px;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
    background: #FFA451;
    .positionButtonBasket{
        display: flex;
        margin-left: 24px;
        margin-top: 28px;
        margin-right: 34px;
        position: relative;
        .buttonTopBasket{
            
            text-align: center;
            max-width: 80px;
            max-height: 32px;
            width: 80px;
            height: 32px;
            left: 24px;
            top: 72px;
            color: black;
            background: #FFFFFF;
            border-radius: 100px;
        }
        .topTextBasket{
            margin-top: 28px;
            
        }
    }   
    
}
.topAuth{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 375px;
    max-height: 469px;
    width: 100%;
    height: 100%;
    left: auto;
    right: auto;
    top: 0px;
    background: #FFA451;
    .logoAuth{
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 301px;
        max-height: 260px;
        left: 35px;
        top: 155px;
    }
}
.topTrack{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 469px;
    max-width: 375px;
    left: 0px;
    top: 0px;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
    background: #FFA451;
}
.bottom{
    position: absolute;
    width: 327px;
    height: 199px;
    left: 24px;
    top: 525px;

    .textIndex{
        display: flex;
        flex-direction: column;
        max-width: 282px;
        max-height: 85px;
        width: 100%;
        height: 100%;
        
        top: 525px;
        h2{
            font-size: 20px;
        }
        padding-bottom: 36px;
    }

    .buttonDiv{
        position: absolute;
        display: flex;
        justify-content: center;
        max-width: 327px;
        max-height: 56px;
        width: 100%;
        height: 100%;
        
        margin-top: 58px;
        border-radius: 10px;
        
        
        .buttonPrimary{
            
            display: flex;
            max-width: 327px;
            max-height: 56px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-family: 'Brandon Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.01em;

            color: #FFFFFF;
            background: #FFA451;
        }
        
        
    }

    
}
.bottomBasket{
        
    width: 100%;
    height: 100%;
    
    position: absolute;
    max-width: 375px;
    max-height: 677px;
    left: 0px;
    top: 144px;

background: #FFFFFF;
    .imageBasket{
        display: flex;
        width: 100%;
        height: 100%;
        left: 0;
        max-height: 80px;
        max-width: 375px;
        padding-top: 32px;
        margin-top: 32px;
        
        
    }

        .basketTotal{
            display: flex;
            position: relative;
            float: left;
            max-width: 103px;
            max-height: 56px;
            width: 100%;
            height: 100%;
            left: 25px;
            
        }
        .buttonBasketDiv{
            position: relative;
            display: flex;
            float: right;
            max-width: 199px;
            max-height: 56px;
            width: 100%;
            height:100%;
            .buttonBasket{
                max-width: 199px;
                max-height: 56px;
                width: 100%;
                height:100%;
                right: 10;
                background:#FFA451;
                border-radius: 10px;
            }
        }
}
.bottomAuth{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 327px;
    max-height: 199px;
    width: 100%;
    height: 100%;
    left: 24px;
    right: auto;
    top: 525px;
    .inputAuth{
        
        font-family: 'Lato';
        max-width: 183px;
        max-height: 29px;
        width: 100%;
        height: 100%;
        left: 24px;
        top: 570px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.01em;
        .inputAuth1{
            background: #F3F1F1;
            border-radius: 10px;
            width: 327px;
            height: 56px;
            left: 24px;
            top: 570px;
            color: #C2BDBD;
        }
        

    }
    .buttonAuthDiv{
        position: absolute;
        display: flex;
        max-width: 327px;
        max-height: 56px;
        width: 100%;
        height: 100%;
        
        top: 214px;
        
        
        .buttonAuth{
            max-width: 327px;
            max-height: 56px;
            width: 100%;
            height: 100%;
            
            
            background: #FFA451;
            border-radius: 10px;
        }
    }
}
.bottomTrack{
    position: absolute;
    max-width: 375px;
    max-height: 498px;
    width: 375px;
    height: auto;
    left: 0px;
        
    top: 314px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;

    }
.splash{
    .splashDiv{
        width: 100%;
        height: 100%;
        .splashImage{
            position: absolute;
            width: 85%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}