html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
  padding: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.bottom {
  position: absolute;
  width: 327px;
  height: 199px;
  left: 24px;
  top: 525px;
}

.bottom .textIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 282px;
  max-height: 85px;
  width: 100%;
  height: 100%;
  top: 525px;
  padding-bottom: 36px;
}

.bottom .textIndex h2 {
  font-size: 20px;
}

.bottom .buttonDiv {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 327px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  margin-top: 58px;
  border-radius: 10px;
}

.bottom .buttonDiv .buttonPrimary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 327px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background: #FFA451;
}

.bottomAuth {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 327px;
  max-height: 199px;
  width: 100%;
  height: 100%;
  left: 24px;
  right: auto;
  top: 525px;
}

.bottomAuth .inputAuth {
  font-family: 'Lato';
  max-width: 183px;
  max-height: 29px;
  width: 100%;
  height: 100%;
  left: 24px;
  top: 570px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
}

.bottomAuth .inputAuth .inputAuth1 {
  background: #F3F1F1;
  border-radius: 10px;
  width: 327px;
  height: 56px;
  left: 24px;
  top: 570px;
  color: #C2BDBD;
}

.bottomAuth .buttonAuthDiv {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 327px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  top: 214px;
}

.bottomAuth .buttonAuthDiv .buttonAuth {
  max-width: 327px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  background: #FFA451;
  border-radius: 10px;
}

.bottomBasket {
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 375px;
  max-height: 677px;
  left: 0px;
  top: 144px;
  background: #FFFFFF;
}

.bottomBasket .imageBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  max-height: 80px;
  max-width: 375px;
  padding-top: 32px;
  margin-top: 32px;
}

.bottomBasket .basketTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  float: left;
  max-width: 103px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  left: 25px;
}

.bottomBasket .buttonBasketDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  max-width: 199px;
  max-height: 56px;
  width: 100%;
  height: 100%;
}

.bottomBasket .buttonBasketDiv .buttonBasket {
  max-width: 199px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  right: 10;
  background: #FFA451;
  border-radius: 10px;
}

.bottomTrack {
  position: absolute;
  max-width: 375px;
  max-height: 498px;
  width: 375px;
  height: auto;
  left: 0px;
  top: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 16px 16px 0px 0px;
}

.homeBody {
  border: dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 469px;
  left: 0px;
  top: 0px;
}

.carrossel {
  width: 100%;
  height: 150px;
  bottom: 016px;
}

.carrossel .carrosselTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 34px;
  left: 24px;
  top: 588px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.carrossel .carrosselImg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  height: 150px;
}

.carrossel .carrosselImg .imgCarrossel {
  width: 100%;
}

.carrossel .carrosselImg .imgCarrossel img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 80px;
  height: 150px;
}

.combo1 {
  position: absolute;
  width: 100%;
  height: 183px;
  left: 0;
  top: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.combo1 .imgCombo1 {
  padding-right: 23px;
  margin-right: 23px;
  width: 40%;
  height: 183px;
}

.combo1 .imgCombo2 {
  width: 40%;
  height: 183px;
}

.combo1 .img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.comboText {
  position: absolute;
  width: 100%;
  height: 32px;
  left: 25px;
  top: 301px;
}

.iconesTopo .abaLateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  position: relative;
  width: 22px;
  height: 11px;
  left: 24px;
  top: 88px;
}

.iconesTopo .abaBasket {
  float: right;
  position: relative;
  width: 41px;
  height: 42px;
  left: 310px;
  top: 10px;
}

.iconesTopo .abaBasket .img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 56px;
  left: 21px;
  top: 205px;
}

.homeText {
  position: absolute;
  width: 100%;
  height: 58px;
  left: 24px;
  top: 140px;
  margin-bottom: 20%;
}

.homeText h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: -0.01em;
  color: #27214D;
}

.orderComplete .divImage img {
  position: absolute;
  width: 247px;
  height: 328px;
  left: 64px;
  top: 160px;
}

.orderComplete .trackB1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 133px;
  height: 56px;
  left: 121px;
  top: 544px;
  background: #FFA451;
  border: 1px solid #FFA451;
  border-radius: 10px;
}

.orderComplete .trackB2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 181px;
  height: 56px;
  left: 97px;
  top: 648px;
  background-color: #FFFFFF;
  border: 1px solid #FFA451;
  border-radius: 10px;
}

.splash .splashDiv {
  width: 100%;
  height: 100%;
}

.splash .splashDiv .splashImage {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top {
  position: absolute;
  width: 375px;
  height: 469px;
  max-width: 10px;
  left: 0px;
  top: 0px;
  background: #FFA451;
}

.top .logo1 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 281.21px;
  left: 31px;
  top: 134px;
}

.topAuth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  max-width: 375px;
  max-height: 469px;
  width: 100%;
  height: 100%;
  left: auto;
  right: auto;
  top: 0px;
  background: #FFA451;
}

.topAuth .logoAuth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 301px;
  max-height: 260px;
  left: 35px;
  top: 155px;
}

.topBasket {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 469px;
  max-width: 375px;
  left: 0px;
  top: 0px;
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
  background: #FFA451;
}

.topBasket .positionButtonBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  margin-top: 28px;
  margin-right: 34px;
  position: relative;
}

.topBasket .positionButtonBasket .buttonTopBasket {
  text-align: center;
  max-width: 80px;
  max-height: 32px;
  width: 80px;
  height: 32px;
  left: 24px;
  top: 72px;
  color: black;
  background: #FFFFFF;
  border-radius: 100px;
}

.topBasket .positionButtonBasket .topTextBasket {
  margin-top: 28px;
}

.topIndex {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 469px;
  left: 0px;
  top: 0px;
  background: #FFA451;
}

.topIndex .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 301px;
  height: 100%;
  max-height: 260px;
  left: 35px;
  top: 155px;
}

.topTrack {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 469px;
  max-width: 375px;
  left: 0px;
  top: 0px;
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
  background: #FFA451;
}

@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */