.bottomTrack{
    position: absolute;
    max-width: 375px;
    max-height: 498px;
    width: 375px;
    height: auto;
    left: 0px;
        
    top: 314px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;

    }
