.homeBody{
    
    display: flex;
    width: 100%;
   
    height: 469px;
    left: 0px;
    top: 0px;
    .iconesTopo{
       
        .abaLateral{
            display:flex ;
            float: left;
            position:relative;
            width: 22px;
            height: 11px;
            left: 24px;
            top: 88px;
        }
        .abaBasket{
            
            float: right;
            position: relative;
            width: 41px;
            height:42px;
            left: 310px;
            top: 10px;
            .img{
                object-fit: cover;
                object-position: bottom;
            }
        }
    }
    .homeText{

        position: absolute;
        
        width: 100%;
        height: 58px;
        left: 24px;
        top: 140px;
        margin-bottom: 20%;
        
        h1 {
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
       
            align-items:baseline;
            letter-spacing: -0.01em;
            color: #27214D;

        }
        

    }
    .search{
        position: relative;
        display: flex;
        flex-direction: column;
        object-fit: cover;
        object-position: bottom;
        width:100%;
        height: 56px;
        left: 21px;
        top: 205px;
    }
    

      
    .comboText{
        position: absolute;
        width:100%;
        height: 32px;
        left: 25px;
        top: 301px;

        
    }
    .combo1{
      
        position: absolute;
        width: 100%;
        height:183px;
        left: 0;
        top: 357px;
        display: flex;
        flex-direction: row;
        
            .imgCombo1{
            
            padding-right: 23px;
            margin-right: 23px;
            width: 40%;
            height: 183px;
            }
            .imgCombo2{
            width: 40%;
            height: 183px;
            }
            .img{
                object-fit: cover;
                object-position: bottom;
            }
      }
    .carrossel{
        
        width: 100%;
        height:150px;
        
        bottom: 016px;
        

        .carrosselTop{
            
            display: flex;
            flex-direction: row;
            
            width: 100%;
            height: 34px;
            left: 24px;
            top: 588px;
            object-fit: cover;
            object-position: bottom;
            
        }
        .carrosselImg{
            position: absolute;
            display: flex;
            right: 0;
            flex-direction: row;
            
            bottom: 0;
            height: 150px;
            
            .imgCarrossel{
               
                
                width: 100%;
                
                img{
                    object-fit: cover;
                    object-position: bottom;
                    width: 80px;
                    height: 150px;
                }
            }
        }
    }  
      
      
       
    
}

