.top{
    position: absolute;
    width: 375px;
    height: 469px;
    max-width: 10px;
    left: 0px;
    top: 0px;

    background: #FFA451;
    .logo1{
        position: absolute;
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 281.21px;
        left: 31px; 
        top: 134px;
    }
}
